{
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "stage-3"
  ]
}
